/* mail header start */
.mail-header1 {

    background: linear-gradient(54deg,rgba(74,76,179,.95) 34%,hsla(0,34%,71%,.95));
 }
.container { 
    width: 900px;
    height: 450px; 
    padding-right: 15px;
    padding-left: 15px;
    

}
.row-menu {
   
    padding-left: 85px;
    font-size: 20px;
    transition: all 0.9ms linear;

}
.item-menu ul li {
    margin-top: 50px;
    text-decoration: none;
    display: inline-block;
    padding: 0px 15px;
    transition: all .4s linear;

}
.item-menu ul li a {
margin-left: 5px;

 }
/* finis header */


.row-profile {
    height: 395px;
    max-width: 1197px;

}
.item-profile-avatar img {
    width: 270PX;
    border-radius: 8px;
    box-shadow: 0 0 27px rgb(96 96 96 / 34%);
    height: 360px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 10px;
    position: relative;
    top: 25px;
}